.main-nav {
    display: flex; /* Включаем flexbox */
    justify-content: space-between; /* Равномерно распределяем пространство между элементами */
    align-items: center; /* Центрируем элементы по вертикали */
    background: #333; /* Темный фон для панели навигации */
    padding: 10px 20px; /* Добавляем паддинг для внешнего вида, отступы по краям */
    position: fixed; /* Фиксируем панель на верху страницы */
    top: 0;
    left: 0;
    width: 100%; /* Панель навигации на всю ширину */
    z-index: 1000; /* nавигация всегда сверху других элементов */
}

.main-nav a, .main-nav .logout-button {
    color: white; /* Белый цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    padding: 10px 0; /* Паддинг сверху и снизу для выравнивания высоты */
    text-align: center; /* Выравнивание текста по центру */
    transition: background-color 0.2s; /* Плавная смена фона */
    flex: 1; /* Позволяет каждому элементу расти, чтобы заполнить доступное пространство */
    margin: 0 10px; /* Отступы между элементами */
    min-width: 0; /* Обеспечиваем, что flex элементы могут уменьшиться до нуля */
}

.main-nav .logout-button {
    background-color: #f44336; /* Красный цвет фона для кнопки выхода */
    border: none; /* Убираем обводку */
    border-radius: 4px; /* Скругляем углы */
    cursor: pointer; /* Меняет указатель при наведении */
}

.main-nav a:hover, .main-nav .logout-button:hover {
    background-color: #555; /* Цвет фона ссылок при наведении */
}

.logout-button:hover {
    background-color: #c62828; /* Темно-красный цвет фона при наведении */
}