.registration-container {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Чтобы width включало padding и border */
}

button {
    background-color: #5caceb;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4a94d3;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}